
@import "../ifc-toolkit/components/side-menu";
@import (reference) "../ifc-toolkit/mixins/animate";
@import "../bootstrap/mixins";
@import "../bootstrap/variables";
@import "../bootstrap/scaffolding";
@import "../bootstrap/glyphicons";
@import "fonts.less";

@kjs-img: "../../images";


.invisible {
	opacity: 0;
}
.overlay {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}
ul {
  list-style: none;
  padding: 0;
}
button {
  padding: 0;
  border: none;
}
button:focus {
  outline: 0;
}
#menu {
	line-height: 1.42857143;
	a {
		text-decoration: none !important;
		color: #4A4A4A;
	}
	li {
		margin: 0 !important;
	}
}

a, button
{
    -ms-touch-action: manipulation; /* IE10  */
    touch-action: manipulation;     /* IE11+ */
}

.author-template .menu-toggle, .post-template .menu-toggle {
	.menu-toggle(@text-color: black, @invert-color: white);
	padding: 6px 10px;
	&:hover {
		.menu {
			color: white !important;
		}
		#hamburger .icon-bar {
			background: white !important;
		}
		background: black !important;
	}
}
.author-template .menu-open, .post-template	.menu-open {
	.menu-color(@bg-color: black; @text-color:white)
}

#menu {
	.side-menu-mobile(@width:250px,@font:'Open Sans Condensed',@font-size:18px);
	background: #1c1c1c; /* Old browsers */
	background: -moz-linear-gradient(top,  #1c1c1c 40%, #0f1c12 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(40%,#1c1c1c), color-stop(100%,#0f1c12)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #1c1c1c 40%,#0f1c12 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #1c1c1c 40%,#0f1c12 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #1c1c1c 40%,#0f1c12 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #1c1c1c 40%,#0f1c12 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c1c1c', endColorstr='#0f1c12',GradientType=0 ); /* IE6-9 */
  	a {
		font-weight: bold;
  	}
 	ul {
 	padding-left: 0 !important;
 	}
}

@media screen and (min-width:@screen-sm-min) {
	#menu {
		.side-menu-full();
	}
}

@media screen and (max-width:500px) {
	.tag-template .menu-toggle, .home-template .menu-toggle {
		padding: 11px 10px;
	}
}
