@import (reference) "../ifc-toolkit/presets/electro.less";

////////////////////////////////////////
// HEADER
////////////////////////////////////////

// NON-LAYOUT
// -----------------------

.hero-text-wrapper {
  color: @white;
  text-align: center;
  h1 {
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 2em;
  }
}


// LAYOUT
// ------------------------

.hero-text-wrapper {
  width: 90%;
  margin: 0 auto;
  h1 {
    padding: 0 20px;
    line-height: 2;
  }
}

.hero-relative {
	position: relative;
}
.hero-padding {
	padding-top: 60px;
}

header {
   position: relative;
   min-height: 480px;
}

///////////////////////////////////////////
// INTRO
///////////////////////////////////////////


////////////////////////////////////////////
// MEDIA QUERIES
////////////////////////////////////////////

@media screen and (max-width:(@screen-nano-max)) {
	header { 
		min-height: 480px;
		h1 {
			padding-top: 50px;
		}
	}
}
@media screen and (min-width:@screen-iphone-min) {
  header {
    min-height: 400px;
  }
  .hero-text-wrapper {
    max-width: 320px;
  }
}
@media screen and (min-width:@screen-xs-min) {
	.hero-text-wrapper {
		max-width: 400px;
		h1 {

		}
	}
}
@media screen and (min-width:@screen-sm-min) {
  header {
  	height: 700px;
  }
  .hero-padding {
  	padding-top: 180px;
  }
  .hero-text-wrapper {
    width: auto;
    max-width: 1100px;
    h1 {
      font-size: 3.8em;
      line-height: 1.4;
      padding: 0;
    }
  }
}
@media screen and (min-width:@screen-md-min) {
  .hero-padding {
  	padding-top: 250px;
  }
}
@media screen and (min-width:@screen-lg-min) {
}
@media screen and (min-width:@screen-wide-min) {
  .hero-text-wrapper {
    width: 1200px;
  }
}