
@import (reference) "../ifc-toolkit/presets/electro.less";

@root: "http://res.cloudinary.com/infocinc/image/fetch/http://infocinc.herokuapp.com/images/home";


////////////////////////////////////////////////////////////////
// HERO SECTION
////////////////////////////////////////////////////////////////

.hero-text-wrapper {
  position: relative;
  color: @white;
  width: 90%;
  margin: 0 auto;
  padding-top: 50px;
  text-align: center;

  h1 {
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 2em;
    padding: 0 20px;
    line-height: 2;
  }
  .white-box {
    display: none;
  }
}

#hero-wrapper {
   position: relative;
  .bg("@{root}/bg-mobile.jpg");
   min-height: 480px;

  .arrow-down {
    position: absolute;
    width: 50px;
    left: 50%;
    margin-left: -25px;
    bottom: -25px;
    img {
     width: 100%;
    }
  }
}


#services-wrapper {
  text-align: center;
}


////////////////////////////////////////////////////////////////
// MEDIA QUERIES
////////////////////////////////////////////////////////////////

// MAX WIDTHS
@media screen and (max-width:@screen-iphone-max) {
  .service-item {
    width: 100%;
  }

}

// MIN WIDTHS
@media screen and (min-width:@screen-iphone-min) {
  #hero-wrapper {
    min-height: 400px;
  }
  .hero-text-wrapper {
    padding-top: 80px;
    max-width: 320px;
  }
}
@media screen and (min-width:@screen-xs-min) {
  #services-wrapper {
    a:nth-child(2) {
      margin-top: 35px;
    }
  }
}

@media screen and (min-width:@screen-sm-min) {
  #hero-wrapper {
    .bg(@path:"@{root}/bg-tablet.jpg",@x:0%,@y:5%);
     height: 700px;
    .quick-links {
       position: absolute;
       top: 20px;
       right: 200px;
       ul {
         margin: 0;
         li {
          display: inline-block;
         }
         li:first-child {
          margin-right: 20px;
         }
       }
       img {
         padding-right: 5px;
         width: 20px;
       }
       span {
         display: inline-block;
         vertical-align: middle;
         color: @white;
         font-size: 1.33em;
       }
    }
  }

  #services-wrapper {
    margin-bottom: 40px;
    a {
      margin-bottom: 15px;
    }
    a:first-child,a:nth-child(2) {
      margin-top: 25px;
    }
  }
  .hero-text-wrapper {
    padding-top: 180px;
    width: auto;
    max-width: none;
    h1 {
      font-size: 3.8em;
      letter-spacing: 1;
      line-height: 1.4;
      padding: 0;
    }
    .white-box {
      margin-top: 30px;
      display: inline-block;
    }
  }
}

@media screen and (min-width:@screen-md-min) {
  #hero-wrapper {
    .bg('@{root}/bg-desktop.jpg');
    .arrow-down {
      width: 60px;
      bottom: -30px;
      margin-left: -30px;
    }
  }
  #services-wrapper {
    margin-top: 35px;
    a:first-child,a:nth-child(2) {
      margin-top: 0;
    }
  }
  .hero-text-wrapper {
    padding-top: 250px;
  }
}

@media screen and (min-width:@screen-lg-min) {
  #services-wrapper {
     margin: 50px 0 40px 0;
  }

}

@media screen and (min-width:@screen-wide-min) {
  .hero-text-wrapper {
    width: 1200px;
  }
}

