
@import (reference) "../ifc-toolkit/presets/electro.less";
@import "fonts.less";

//////////////////////////////////////////////
// COLORS
//////////////////////////////////////////////

body {
	font-family: 'Open Sans Condensed', sans-serif;
}

#main > button {
	background: none;
}

#main {
	position: relative;
	right: 0;
}

#menu {
	.side-menu-mobile(@bg:'@{kjs-img}/infocinc-desktop.jpg',@font:'Open Sans Condensed',@font-size:13px);
}

.logo {
	position: absolute;
	top: 10px;
	img {
		height: 30px;
	}
}

////////////////////////////////////////////////////////////////
// MEDIA QUERIES
////////////////////////////////////////////////////////////////

@media screen and (min-width:@screen-iphone-min) {
	.logo {
		left: 10px;
	}
}

@media screen and (min-width:@screen-sm-min) {
	.logo {
		top: 15px;
		left: 30px;
		img {
			height: 40px;
		}
	}
	#menu {
		.side-menu-full();
	}
}

@media screen and (min-width:@screen-md-min) {
	.logo {
		top: 10px;
	}
}

@media screen and (min-width:@screen-lg-min) {
	.logo {
		top: 20px;
		left: 50px;
		img {
			height: 50px;
		}
	}
}

@media screen and (min-width:@screen-wide-min) {

}
