@import "utils.less";
@import "variables.less";
@import "fonts.less";
@import "normalize.less";
@import "mixins.less";
@import "side-menu.less";
@import "mobile-fixed-icons.less";

a {
  text-decoration: none !important;
}

a, button
{
    -ms-touch-action: manipulation; /* IE10  */
    touch-action: manipulation;     /* IE11+ */
}


button {
  padding: 0;
  border: none;
}

ul {
  list-style: none;
  padding: 0;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
  margin: 0 !important;
}

span,p, li, h1,h2 {
  word-wrap: break-word !important;
}

html, body{
 position: relative;
 z-index: 10;
 width: 100% !important;
 margin: 0px !important;
 padding: 0px !important;
-webkit-tap-highlight-color: rgba(0,0,0,0);
 -ms-touch-action: manipulation; // remove delay for windows Phones
 touch-action: manipulation;  // remove delay for windows Phones
 font-family: 'Open Sans Condensed', sans-serif;
}

img {
 image-rendering:optimizeQuality !important;
}

#main {
    position: relative;
    right: 0;
}
