@import (reference) "../ifc-toolkit/presets/electro.less";


@root: '@{kjs-img}/services';

@seriousgreen: #495C5D;
@lightgreen: rgba(73,92,93,0.5);

///////////////////////////////////////////
// HEADER BG
///////////////////////////////////////////
header {
	.bg('@{root}/bg-mobile.jpg');
}


///////////////////////////////////////////
// SERVICES
///////////////////////////////////////////

.intro {
	a {
		.transition(@property:background;@delay:300ms);
	}
	h2 {
		font-size: 2em;
		letter-spacing: 0.1em;
	}
}

// NON-LAYOUT
// ---------------


.more-btn(@color1,@color2) {
	.btn-wide {
		border: 1px solid @color1;
		background: @color2;
		color: @white;
		border-radius: 3px;
		&:hover {
			background: @color1;
		}
		span {
			font-size: 1.2em;
		}
	}
}

.axiom-bg(@fallback) {
	.hidden-row {
		.question {
			background: url('@{root}/axiom-pattern-1.png') repeat @fallback;
		}
		.features {
			background: url('@{root}/axiom-pattern-2.png') repeat @fallback;
		}
	}
}

// common base styling for services
.services {
//	.transition(@property:'background-position-x',@delay:0);

}

.service-wrapper {
	h2 {
		font-family: 'Bubblegum Sans', sans-serif;
		font-size: 1.8em;
	}
	.brief {
		font-size: 1.4em;
	}
	.btn-wide {
		padding: 12px 20px;
	}
}

.make-service(@text-color;@border-color;@button-bg;@bubbles-bg) {
	border: 15px solid @border-color;
	color: @text-color;
	.axiom-bg(@text-color);
	.more-btn(@text-color,@button-bg);
	& {
		background: url('@{root}/@{bubbles-bg}') repeat 0% 0%;
	}
}

#design {
	@text-color: #495C5D;
	@border-color: rgba(73,92,93,0.5);
	@button-bg: rgba(73,92,93,0.7);
	@bubbles-bg: 't9.png';
	.make-service(@text-color,@border-color,@button-bg,@bubbles-bg);
}
#social {
	@text-color: #3B5998;
	@border-color: #8b9dc3;
	@button-bg: #8B9DC3;
	@bubbles-bg: 'cubes.png'; 
	.make-service(@text-color,@border-color,@button-bg,@bubbles-bg);
}
#advice {
	@text-color: #555;
	@border-color: rgba(0,0,0,0.4);
	@button-bg: #666;
	@bubbles-bg: 'inspiration-geometry.png'; 
	.make-service(@text-color,@border-color,@button-bg,@bubbles-bg);
}
#webapp {
	@text-color: #576F84;
	@border-color: lighten(#576F84,30%);
	@button-bg: lighten(#576F84,20%);
	@bubbles-bg: 'crissxcross.png'; 
	.make-service(@text-color,@border-color,@button-bg,@bubbles-bg);
}

.hidden-row {
	.question {
		p {
			color: @white;
			letter-spacing: 0.1em;
			font-size: 1.5em;
			text-align: center;
			margin: 0;
		}
	}
	.bubbles {
		text-align: center;
	}
	.features {
		p {
			margin: 0;
			color: @white;
		}
		ul {
			color: @white;
		}
	}
}

// LAYOUT
// ----------------------

.hidden-row {
	text-align: center;
}

.intro {
	padding: 50px 0;
	text-align: center;
	h2 {
		padding-bottom: 20px;
	}
}

.service-wrapper {
	padding: 30px;
	text-align: center;
	.visual {
		padding-bottom: 20px;
		img {
			width: 80%;
			max-width: 200px;
		}
	}
}
.hidden-row {
	.question,.bubbles,.features {
		padding: 30px;
	}
	.bubbles {
		.infobubble {
			img {
				width: 80px;
			}
			h3 {
				padding: 15px 0;
				font-size: 1.3em;
			}
		}
	}
	.features {
		text-align: center;
		p {
			font-size: 2.5em;
			line-height: 1.2;
		}
		ul {
			margin: 0;
			font-size: 1.3em;
			li {
				padding: 10px 0;
			}
		}
	}
}

.shift-service-img {
	text-align: center;
}
///////////////////////////////////////////////
// MEDIA QUERIES
///////////////////////////////////////////////

//////////////////////
// VERY SMALL DEVICES 
//////////////////////
@media screen and (max-width:(@screen-nano-max)) {
}

@media screen and (max-width:@screen-iphone-max) {
  .service-item,.infobubble-wrapper {
    width: 100%;
  }

}
//////////////////
// IPHONE PORTRAIT
//////////////////
@media screen and (min-width:@screen-iphone-min) {
}

//////////////////
// IPHONE LANDSCAPE
//////////////////
@media screen and (min-width:@screen-xs-min) {
	.service-wrapper {
		.visual {
			img {
				max-width: 220px;
			}
		}
	}
}

//////////////////
// IPAD PORTRAIT
//////////////////
@media screen and (min-width:@screen-sm-min) {
	header {
		.bg('@{root}/bg-tablet.jpg');
	}
	.intro {
		padding: 50px 0;
		h2 {
			font-size: 3em;
			letter-spacing: 0.1em;
			padding-bottom: 20px;
		}
	}
	.service-wrapper {
		padding: 60px;
		text-align: center;
		.btn-wide {
			padding: 20px 30px;
		}
		h2 {
			font-size: 3em;
		}
		.brief {
			font-size: 2em;
		}
		.visual {
			padding-bottom: 20px;
			img {
				max-width: 300px;
					width: 100%;
			}
		}
	}
	.hidden-row {
		.question {
			padding: 40px;
			p {
				font-size: 3em;
			}
		}
		.bubbles {
			padding: 60px;
			.infobubble {
				img {
					width: 100px;
				}
				h3 {
					padding: 15px 0;
					font-size: 1.2em;
				}
			}
		}
		.features {
			text-align: center;
			padding: 40px;
			p {
				font-size: 3.7em;
				padding-bottom: 15px;
				line-height: 1;
			}
			ul {
				margin: 0;
				font-size: 1.3em;
				li {
					padding: 10px 0;
				}
			}
			.links {
				text-align: left;
				p {
					padding: 20px 0;
					font-size: 1.6em;
				}
			}
		}
	}
}

/////////////////////////
// IPAD LANDSCAPE
/////////////////////////
@media screen and (min-width:@screen-md-min) {
	header {
		.bg('@{root}/bg-desktop.jpg');
	}
	.shift-service-img {
		text-align: right;
	}
	.intro {
		padding: 50px 0;
		width: 80%;
		margin: 0 auto;
		img {
			width: 120px;
		}
	}
	.service-wrapper {
		padding: 60px 30px;
		text-align: left;
		.visual {
			padding-top: 20px;
			img {
				width: 300px;
			}
		}
		.brief {
			font-size: 1.7em;
		}
	}
	.services {
		text-align: left;
	}
	.hidden-row {
		.features {
			text-align: left;
		}
	}
}

/////////////////////////
// LARGE SCREEN - LAPTOP
/////////////////////////
@media screen and (min-width:@screen-lg-min) {
	.service-wrapper {
		padding: 60px;
		.visual img {
			width: 320px;
		}
	}
}

/////////////////////////
// WIDE SCREEN
/////////////////////////
@media screen and (min-width:@screen-wide-min) {
	.service-wrapper {
		padding: 60px;
		.visual img {
			width: 370px;
		}
	}
}

